version: '3.8'

services:
  api:
    build: .
    ports:
      - "3000:3002"
    environment:
      - MONGO_URL=mongodb://mongo_db:27017/logs_db
    depends_on:
      - mongo_db

  mongo_db:
    image: mongo:latest
    container_name: enterprise-mongo
    restart: always
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
